temp_utf8.json
[{"updatedAt":"2026-03-14T21:44:28.904Z","createdAt":"2026-03-13T18:06:42.292Z","id":"VI01Zr7o8sDxoNwT","name":"My workflow 2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"portfolio-leads","options":{}},"id":"d280c0f2-7188-4fb9-b01b-adf22a12d5c5","name":"Webhook: Formulario","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"a65043c9-09ff-4036-a5a7-67dbeea48f76"},{"parameters":{"operation":"create","databaseId":"=144","tableId":"=600","fieldsUi":{"fieldValues":[{"fieldId":5557,"fieldValue":"={{ $('Webhook: Formulario').item.json.body.apellido }}"},{"fieldId":5558,"fieldValue":"={{ $('Webhook: Formulario').item.json.body.correo }}"},{"fieldId":5563,"fieldValue":"={{ $('Webhook: Formulario').item.json.body.interes }}"},{"fieldId":5559,"fieldValue":"={{ $('Webhook: Formulario').item.json.body.empresa }}"},{"fieldId":5554,"fieldValue":"={{ $('Webhook: Formulario').item.json.body.nombre }}"},{"fieldId":5560,"fieldValue":"={{ $('Webhook: Formulario').item.json.body.pais }}"},{"fieldId":5561,"fieldValue":"={{ $('Webhook: Formulario').item.json.body.telefono }}"},{"fieldId":5562,"fieldValue":"={{ $('Webhook: Formulario').item.json.body.rol }}"}]}},"id":"43bb6034-ec69-4901-9b20-747fc16b742b","name":"Baserow: Guardar Lead","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[256,0],"credentials":{"baserowApi":{"id":"cYsd6P460RAacKKN","name":"Baserow Portfolio API"}}},{"parameters":{"fromEmail":"mariomojica.style@gmail.com","toEmail":"mariomojica.style@gmail.com","subject":"=Nuevo Lead: {{ $('Webhook: Formulario').item.json.body.nombre }}","emailFormat":"text","text":"Nombre: {{ $('Webhook: Formulario').item.json.body.nombre }}\\nApellido: {{ $('Webhook: Formulario').item.json.body.apellido }}\\nCorreo: {{ $('Webhook: Formulario').item.json.body.correo }}\\nEmpresa: {{ $('Webhook: Formulario').item.json.body.empresa }}\\nInteres: {{ $('Webhook: Formulario').item.json.body.interes }}\\nPais: {{ $('Webhook: Formulario').item.json.body.pais }}\\nTelefono: {{ $('Webhook: Formulario').item.json.body.telefono }}\\nRol: {{ $('Webhook: Formulario').item.json.body.rol }}","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[144,144],"id":"2641ccbc-1fd0-4d1a-9f9e-4ca96e08b740","name":"Send an Email","webhookId":"abc7c8f0-a1fe-4994-a040-711b99ae2530","credentials":{"smtp":{"id":"wHWhH88IiCuxvUGZ","name":"SMTP account 2"}}}],"connections":{"Webhook: Formulario":{"main":[[{"node":"Baserow: Guardar Lead","type":"main","index":0}]]},"Baserow: Guardar Lead":{"main":[[{"node":"Send an Email","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"064f7f70-b200-4242-95e8-d07ca48ed16b","activeVersionId":"064f7f70-b200-4242-95e8-d07ca48ed16b","versionCounter":209,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-03-13T18:06:42.297Z","createdAt":"2026-03-13T18:06:42.297Z","role":"workflow:owner","workflowId":"VI01Zr7o8sDxoNwT","projectId":"FqxrgVd9lTGeHQZk","project":{"updatedAt":"2026-03-12T18:47:52.559Z","createdAt":"2026-03-12T18:45:27.673Z","id":"FqxrgVd9lTGeHQZk","name":"Mario Mojica <mariomojica.style@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"4639f11e-8602-4d0f-920e-0ebd00602d98"}}],"versionMetadata":{"name":"Version 064f7f70","description":""}}]
